name: Deploy Frontend

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Copy build files to server
        run: |
          rsync -av ./ /home/runner/www/enterlancecom/

      - name: Rebuild & restart container
        run: |
          cd /home/runner/www
          docker compose build enterlancecom
          docker compose up -d enterlancecom
